h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: $color__text-heading;
	font-family: $font__title;
	font-weight: 700;
}

h1 {
	@include potrait-tablet-upper {
		font-size: $h1;
	}
	@include potrait-tablet {
		font-size: $h1 / 2;
	}
}
h2 {
	@include potrait-tablet-upper {
		font-size: $h2;
	}
	@include potrait-tablet {
		font-size: $h2 / 2;
	}
}
h3 {
	@include potrait-tablet-upper {
		font-size: $h3;
	}
	@include potrait-tablet {
		font-size: rem(16px);
	}
}
h4 {
	font-size: $h4;
}
h5 {
	font-size: $h5;
}