.default-spacer {
    @include potrait-tablet-upper {
        padding: {
            top: rem(120px);
            bottom: rem(120px);
        };
    }
    @include potrait-tablet {
        padding: {
            top: rem(120px / 2);
            bottom: rem(120px / 2);
        };
    }
}

.welearner-section-topic {
    &.default-spacer {
        padding: {
            bottom: rem(0px);
        };
    }
}

.welearner-tranding-course-area {
    padding-top: rem(77px);
    padding-bottom: rem(76px);
}

.welearner-toprated-course-area {
    padding-bottom: rem(50px);
}

.welearner-section-counter {
    padding-bottom: rem(78px);
}