.default-spacer {
    padding: {
        top: rem(127px);
        bottom: rem(127px);
    };
}

.welearner-section-topic {
    &.default-spacer {
        padding: {
            bottom: rem(0px);
        };
    }
}

.welearner-tranding-course-area {
    padding-top: rem(77px);
    padding-bottom: rem(76px);
}

.welearner-toprated-course-area {
    padding-bottom: rem(50px);
}

.welearner-section-counter {
    padding-bottom: rem(78px);
}