.welearner-banner_area {
    position: relative;
    overflow: hidden;
    > .container {
        z-index: 2;
        position: relative;
    }
}

.welearner-banner-main-content-wrapper {
    @include potrait-tablet-upper {
        min-height: rem(904px);
    }
    @include potrait-tablet {
        min-height: rem(500px);
    }
    color: $color_white;
}


.welearner_baner_heading_title {
    margin-top: 0;
    @include potrait-tablet-upper() {
        line-height: (72px / 65px);
    }
    color: inherit;
    margin-bottom: rem(35px);
}

.welearner_banner_content {
    font-size: rem(20px);
    @include potrait-tablet-upper {
        line-height: (40px / 20px);
        margin-bottom: rem(41px);
    }
}

.welearner-course-search-form {
    position: relative;
    z-index: 10;
    .form-control {
        height: auto;
        @include potrait-tablet {
            margin-bottom: rem(20px);
            padding: rem(15px);
        }
    }
    @include potrait-tablet-upper() {
        .form-control {
            padding: rem(37px) 0;
            padding-left: rem(40px);
            padding-right: rem(210px);
        }
        .btn {
            position: absolute;
            right: rem(20px);
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            font-weight: 500;
            font-size: rem(18px);
            padding: rem(15px) rem(59px);
        }
    }
}


.welearner_banner_memphis {
    @include potrait-tablet-upper {
        position: absolute;
        pointer-events: none;
        &.memphis_one {
            bottom: rem(-38px);
            left: rem(-67px);
        }
        &.memphis_two {
            right: 0;
            top: 0;
        }
    }
    @include potrait-tablet {
        display: none;
    }
}

.banner_man_image {
    @include potrait-tablet-upper {
        margin-left: rem(-223px);
        margin-right: rem(-88px);
    }
    @include potrait-tablet {
        display: none;
    }
}