.client-section-title {
    font-size: rem(20px);
    margin-bottom: 0;
}
.client-section-title-wraper {
    margin-bottom: rem(70px);
}
@include potrait-tablet {
    .clinet-logo {
        margin-bottom: rem(30px);
        display: inline-block;
        margin-right: rem(30px);
    }
}