$color_white: #FFFFFF;
$color__background-body: $color_white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color_primary: #4640DE;
$color__link: $color_primary;
$color__link-visited: darken($color__link, 5);
$color__link-hover: darken($color__link, 8);
$color__text-main: #101030;
$color__text-heading: $color__text-main;
$color_alternate: #1C2D41;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$socials: (
  behance: #1769ff,
  bitbucket: #205081,
  codepen: #76daff,
  deviantart: #4e6252,
  digg: #000,
  dribbble: #ea4c89,
  dropbox: #007ee5,
  facebook: #037BF4,
  flickr: #0063dc,
  foursquare: #ef4b78,
  github: #4183c4,
  google-plus: #dd4b39,
  instagram: #3f729b,
  jsfiddle: #4679bd,
  lastfm: #e31b23,
  linkedin: #67B3FF,
  paypal: #253b80,
  pinterest: #cc2127,
  reddit: #ff4500,
  skype: #00aff0,
  soundcloud: #f80,
  stack-overflow: #fe7a15,
  steam: #7da10e,
  stumbleupon: #eb4924,
  trello: #256a92,
  tumblr: #35465c,
  twitch: #6441a5,
  twitter: #03A9F4,
  vimeo: #1ab7ea,
  vine: #00b488,
  vk: #45668e,
  wechat: #98d11c,
  wordpress: #21759b,
  xing: #026466,
  yahoo: #400191,
  yelp: #af0606,
  youtube: #e52d27,
  email: #44c456,
  whatsapp: #075e54,
  spotify: #1db954
);
