// stylelint-disable value-keyword-case
$font__main: "Yantramanav", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__title: 'Playfair Display', serif;
$font__line-height-body: 1.5;
$font__font-size-body: 16px;
$font__line-height-pre: 1.6;

@function rem($pixels, $context: $font__font-size-body) {
    @if (unitless($pixels)) {
      $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
      $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}

@function letter_spacing($pixels) {
	@return $pixels * 0.0625px;
}

$h1: 65px;
$h2: 44px;
$h3: 24px;
$h4: 20px;
$h5: 16px;